{{>layout/header}}

<h1>내 시험 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="name">시험 이름</label>
                <input type="text" class="form-control" id="name" placeholder="시험 이름을 입력하세요.">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

{{>layout/footer}}